RewriteEngine On
RewriteBase /
RewriteRule ^(cgi-bin/.*)$ - [L]
RewriteRule ^(static/.*)$ - [L]
RewriteRule ^(heliohostAPI/dispatch\.wsgi/.*)$ - [L]
RewriteRule ^(.*)$ heliohostAPI/dispatch.wsgi/$1 [QSA,PT,L]